{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="row shadow-row p-5">
    <div class="col-md-6">
        <h5 class="pt-2">Sourcing, roasting and serving coffees that we love</5>
        <img class="img-fluid pt-2" src="{% static 'home/images/coffee-about.jpg' %}" alt="coffee beans about">
    </div>
    <div class="col-md-6 pt-2">
        <p>We've built our business around our love of great, light-roasted coffee. Year round we bring you the best in-season beans from around the world</p>
        <p>Our coffee is roasted fresh by Agtron, a world leader in Coffee Science. </p>
        <p>We recently teamed up with Holy Mountain Brewery to create two coffee-infused beers: the Shadowlifter Coffee Milk Stout and the Midnight Still, a Bourbon Barrel-Aged Imperial Stout.</p>
        <p>Made with our Nine Swans blend, the Midnight Still is a coffee and vanilla variant infused with Madagascar vanilla beans and coffee. The Shadowlifter is hopped with EKG and milk sugar is added to the kettle. After the beer fermented, Holy Mountain infused it with our Nine Swans blend to create a rich, malty stout. </p>
    </div>
</div>

{% endblock %}