{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<!-- ========== content ========== -->
<section id="content">
    <div class="row shadow-row pt-5">
        {% for product in coffeeproducts %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top img-listcoffee" src="{{MEDIA_URL}}{{product.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'detailcoffee' product.id %}">{{product.name}}</a>
                            <span class="pl-3">€{{product.price}}</span>
                        </h5>
                        <p class="card-text">
                            {{product.description | truncatechars:100}} 
                            <a href="{% url 'detailcoffee' product.id %}">read more</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}