{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<!-- ========== content ========== -->
<section id="content">
    <div id="content-row" class="row">
        <div class="col-md-12 pt-3 pb-3"><h2>Our Products</h2></div>
        
        <!-- Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'home/images/product-1-coffee-beans.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer <a class="read-more" href="#">... read more</a></p>
                    <p class="card-text"><small class="text-muted">Rating <i class="fa fa-coffee"></i> x </small></p>
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'home/images/product-2-coffee-beans.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer <a class="read-more" href="#">... read more</a></p>
                    <p class="card-text"><small class="text-muted">Rating <i class="fa fa-coffee"></i> x </small></p>
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'home/images/product-3-coffee-beans.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer <a class="read-more" href="#">... read more</a></p>
                    <p class="card-text"><small class="text-muted">Rating <i class="fa fa-coffee"></i> x </small></p>
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'home/images/product-4-coffee-beans.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer <a class="read-more" href="#">... read more</a></p>
                    <p class="card-text"><small class="text-muted">Rating <i class="fa fa-coffee"></i> x </small></p>
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'home/images/product-5-coffee-beans.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer <a class="read-more" href="#">... read more</a></p>
                    <p class="card-text"><small class="text-muted">Rating <i class="fa fa-coffee"></i> x </small></p>
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'home/images/product-6-coffee-beans.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer <a class="read-more" href="#">... read more</a></p>
                    <p class="card-text"><small class="text-muted">Rating <i class="fa fa-coffee"></i> x </small></p>
                </div>
            </div>
        </div>
        
    </div>
</section>
    
<!--        <div class="card-group">-->
<!--          <div class="card">-->
<!--            <img class="card-img-top" src="{% static 'home/images/product-1-coffee-beans.jpeg' %}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img class="card-img-top" src="{% static 'home/images/product-2-coffee-beans.jpeg' %}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
<!--              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img class="card-img-top" src="{% static 'home/images/product-3-coffee-beans.jpeg' %}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
<!--              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--            </div>-->
<!--          </div>-->
        <!--</div>-->
        
<!--        <div class="card">-->
<!--            <img class="card-img-top" src="{% static 'home/images/product-4-coffee-beans.jpeg' %}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img class="card-img-top" src="{% static 'home/images/product-5-coffee-beans.jpeg' %}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img class="card-img-top" src="{% static 'home/images/product-6-coffee-beans.jpeg' %}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

{% endblock %}